<div id="createQuizView">

    <div class="quiz">

        <div><input type="text" name="QuizTitle" placeholder="Touch to edit Quiz Title" value="" id="quizTitle"></div>
        <br/>
        <div id="quizDescriptionBlock">
            <a>Quiz Description: </a>
            <textarea id="quizDescription" placeholder="Touch to edit the description"></textarea>
        </div><br/>

            <div class="question" id="addQuestionDiv">

                <div id="addQuestionButton"></div>
                <strong>Add new question</strong><br/>
                <div class="subtext">Select new question type:</div>
                <select id="newQuestionType">
                    <option value="checkbox">
                        Multiple choice: Checkbox
                    </option>
                    <option value="radioButton">
                        Multiple choice: Radio button
                    </option>
                    <option value="text">
                        Text answer
                    </option>
                </select>
            </div>
        <div id="saveQuizButtonDiv" style="position: relative;
                                            left: calc(50% - 3.35em);
                                            width: 2.5em;
                                            padding: 0.9em;
                                            padding-left: 3.1em;
                                            text-align: center;
                                            background-image: url('assets/graphics/save.png');
                                            background-position: 0.2em center;
                                            background-repeat: no-repeat;
                                            background-size: 2.5em 2.5em;

                                            ">

            Save

        </div>

    </div>
</div>
