<div id="createQuizView">

    <div class="quiz">

        <div><input type="text" name="QuizTitle" placeholder="Touch to edit Quiz Title" value="" id="quizTitle"></div>
        <br/>
        <div id="quizDescriptionBlock">
            <a>Quiz Description: </a>
            <textarea id="quizDescription" placeholder="Touch to edit the description"></textarea>
        </div><br/>

        <div>
            <div class="question">

                <div id="addQuestionButton"></div>
                <strong>Add new question</strong><br/>
                <div class="subtext">Select new question type:</div>
                <select id="newQuestionType">
                    <option>
                        Multiple choice: Checkbox
                    </option>
                    <option>
                        Multiple choice: Radio button
                    </option>
                    <option>
                        Multiple choice: Selector
                    </option>
                    <option>
                        Short text answer
                    </option>
                    <option>
                        Long text answer
                    </option>
                </select>
            </div></div>

    </div>
</div>
