<div id="createQuizView">

    <div class="quiz">

        <div><input type="text" name="QuizTitle" placeholder="Touch to edit Quiz Title" value="" id="quizTitle"></div>
        <br/>
        <div id="quizDescriptionBlock">
            <a>Quiz Description: </a>
            <textarea id="quizDescription" placeholder="Touch to edit the description"></textarea>
        </div><br/>

            <div class="question" id="addQuestionDiv">

                <div id="addQuestionButton"></div>
                <strong>Add new question</strong><br/>
                <div class="subtext">Select new question type:</div>
                <select id="newQuestionType">
                    <option value="checkbox">
                        Multiple choice: Checkbox
                    </option>
                    <option value="radioButton">
                        Multiple choice: Radio button
                    </option>
                    <option value="select">
                        Multiple choice: Selector
                    </option>
                    <option value="text">
                        Short text answer
                    </option>
                    <option value="textarea">
                        Long text answer
                    </option>
                </select>
            </div>


    </div>
</div>
