
<div id="quizesView" >

    <div>
        <b class="button" id="addQuizButton" href="#">Add new quiz</b>
    </div>
    <div style="height: 1em"></div>
    <div class="quiz">

        <div class="question">
            <strong>How do you feel today?</strong><br/>
            <select id="Choice" ></select>
        </div>
        <div style="height: 0.25em"></div>

        <div class="question">
            <strong>Check all that apply:</strong><br/>
            <div class="checkboxChoice"><input type="checkbox" id="search_bakedGoods">Choice No.1</div>
            <div class="checkboxChoice"><input type="checkbox" id="search_cheese">Choice No.2</div>
            <div class="checkboxChoice"><input type="checkbox" id="search_crafts">Choice No.3</div>
            <div class="checkboxChoice"><input type="checkbox" id="search_flowers">Choice No.4</div>
        </div>
        <div style="height: 0.25em"></div>

        <div class="question">
            <strong>Another question:</strong><br/>
            <input type="radio" name="test" value="CreditCard" checked>Credit Cards Accepted<br/>
            <input type="radio" name="test" value="WIC">WIC Accepted<br/>
            <input type="radio" name="test" value="WicCash">WIC Cash Accepted<br/>
            <input type="radio" name="test" value="SFMNP">SFMNP Accepted<br/>
            <input type="radio" name="test" value="SNAP">SNAP Accepted<br/>
        </div>
        <div style="height: 0.25em"></div>

        <div class="question">
            <strong>Describe your mood::</strong><br/>
            <input type="text" id="search_searchPhrase" prompt="Search Phrase" />
            <div class="subtext">optional</div>
        </div>
        <div style="height: 0.25em"></div>
        <div class="question">this is another test question</div>
    </div>


</div>