
<div id="quizesView" >
    
    <div class="paragraph_noborder">
        <strong>How do you feel today?</strong><br/>
        <select id="Choice" ></select>
    </div>
    
    <div class="paragraph">
        <strong>Describe your mood::</strong><br/>
        <input type="text" id="search_searchPhrase" prompt="Search Phrase" />
        <div class="subtext">optional</div>

        <div class="paragraph">
            <strong>Check all that apply:</strong><br/><br/>
            <div class="checkboxChoice"><input type="checkbox" id="search_bakedGoods" /><label>Choice No.1</label></div>
            <div class="checkboxChoice"><input type="checkbox" id="search_cheese" /><label>Choice No.2</label></div>
            <div class="checkboxChoice"><input type="checkbox" id="search_crafts" /><label>Choice No.3</label></div>
            <div class="checkboxChoice"><input type="checkbox" id="search_flowers" /><label>Choice No.4</label></div>
            <div class="checkboxChoice"><input type="checkbox" id="search_seafood" /><label>Choice No.5</label></div>
            <div class="checkboxChoice"><input type="checkbox" id="search_fruit" /><label>Choice No.6</label></div>
            <div class="checkboxChoice"><input type="checkbox" id="search_herbs" /><label>Choice No.7</label></div>
            <div class="checkboxChoice"><input type="checkbox" id="search_vegetables" /><label>Choice No.8</label></div>
            <div class="checkboxChoice"><input type="checkbox" id="search_honey" /><label>Choice No.9</label></div>
            <div class="checkboxChoice"><input type="checkbox" id="search_jams" /><label>Choice No.10</label></div>
            <div class="checkboxChoice"><input type="checkbox" id="search_maple" /><label>Choice No.11</label></div>
            <div class="checkboxChoice"><input type="checkbox" id="search_meat" /><label>Choice No.12</label></div>
            <div class="checkboxChoice"><input type="checkbox" id="search_nuts" /><label>Choice No.13</label></div>
            <div class="checkboxChoice"><input type="checkbox" id="search_plants" /><label>Choice No.14</label></div>
            <div class="checkboxChoice"><input type="checkbox" id="search_soap" /><label>Choice No.15</label></div>
            <br/><br/>
            
            <strong>Another question:</strong><br/><br/>
            
            <div class="checkboxChoice"><input type="checkbox" id="search_credit" /><label>Credit Cards Accepted</label></div>
            <div class="checkboxChoice"><input type="checkbox" id="search_wic" /><label>WIC Accepted</label></div>
            <div class="checkboxChoice"><input type="checkbox" id="search_wiccash" /><label>WIC Cash Accepted</label></div>
            <div class="checkboxChoice"><input type="checkbox" id="search_sfmnp" /><label>SFMNP Accepted</label></div>
            <div class="checkboxChoice"><input type="checkbox" id="search_snap" /><label>SNAP Accepted</label></div>
            
            <br/><br/>
            <a class="button" id="submitButton" href="#">Submit</a>
            
        </div>
    </div>
</div>