
<div id="videosView">
    <div id="videosHeader">
        <div style="cursor: pointer" id="refreshButton" onclick="refreshVideosList()"></div>
        <h2>Available Now:</h2>
        Choose a video to watch... <i id="lastUpdate"></i>
    </div>
    <dummy id="videosBeginning">
    </dummy>
    <a>
        <h3 align="center">Add New Video</h3>
        Video Title:<br>
        <input class='text' type="text" name="videoTitle">
        <br>
        Video URL:<br>
        <input class='text' type="text" name="videoUrl" value="https://www.youtube.com/watch?v=">
        <br><br>
        <div style="text-align:center">
            <b class="button" id="addVideoButton" onclick="onAddVideoClick()" href="#">Add Video</b>
        </div>
    </a>
</div>
