
<div id="videosView">
    <div id="videosHeader">
        <div id="refreshButton"></div>
        <h2>Available Now:</h2>
        Last update: <i id="lastUpdate">Updating</i>
    </div>
    <dummy id="videosBeginning">
    </dummy>
    <a>
    <form>
        <h3 align="center">Add New Video</h3>
        Video Title:<br>
        <input class='text' type="text" name="videoTitle">
        <br>
        Video URL:<br>
        <input class='text' type="text" name="videoUrl" value="https://www.youtube.com/watch?v=">
        <br><br>
        <div style="text-align:center">
            <input type="submit" value="Add Video">
        </div>
    </form>
    </a>
</div>
