


* {
-webkit-touch-callout: none;
-webkit-user-select: none;
}

input,
textarea {
	-webkit-touch-callout: auto;
	-webkit-user-select: auto;
}

body {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	background-color:#555;
}
* {
    font-family:'SansationRegular', Arial, sans-serif;
    letter-spacing: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}



.subtext {
    font-size:0.85em;
    font-color: #888;
}

.data-list {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
	position:relative;
	background-color: #EDEDED;
	min-height:100%;
	
	
    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.data-list ul,
.data-list li {
	padding:0;
	margin:0;
	border:none;
}


.data-list ul {
	display:block;
	width:100%;
	width:100%;
	max-width:100%;
}

.data-list li {
    cursor:pointer;
    font-size:1em;
	padding:1em;
	padding-left:1em;
	padding-right:1px;
	display:block;
	border-top:1px solid #fff;
	border-bottom:1px solid #CCC;
	
    background-image:url('graphics/more_disclosure.png');
    background-position:right center;
    background-repeat:no-repeat;
}

.listSelected {
	color:#333;
	border-top:1px solid #094C99;
	background-color: #D9D900;
}


/*ViewNavigator Styles*/

.viewNavigator_header {
    background:#444;
    color:#444;
}

.viewNavigator_header_title {
    color:#white;
    font-size:1.5em;
    max-width:65%;
}

.viewNavigator_backButton {
    position:absolute;
    top:5px;
    left:5px;
    width:37px;
    height:35px;
    padding:0px;
    background-image:url('graphics/back_arrow.png');
    background-position: 3px center;
    background-repeat:no-repeat;
    color: #333333;
}

@media only screen and (min-width:760px) {
    .viewNavigator_backButton {
        text-align:right;
        vertical-align:middle;
        padding-right:10px;
        padding-left:50px;
        padding-top:9px;
        height:26px;
        color: #444;
    }
}

.viewNavigator_backButton:active {
    background-color:#FFFFFF;
}

.viewNavigator_content {
    border-top:1px solid #999;
    background:#999;
    color:#444;
}

.viewNavigator_contentHolder {
    color:#444;
    background:#999;
    border-left:1px solid #999;
    border-right:1px solid #999;
}

.viewNavigator_contentHolder > div:first-child {
    min-height:100%;
    background:#EDEDED;
    /*background-image:url('graphics/wheat_bg.png');
    background-position: top left;
    background-repeat:repeat;*/
    border-bottom:1px solid #444;
    border-top:1px solid #444;
}


/*APPLICATION VIEWS*/

.right {
    position:absolute;
    right:0.75em;
    top:0.5em;
}

.padded {
    padding:1em;
}

.button {
    padding:.6em;
    cursor:pointer;
    border:1px solid #999;
    text-decoration:none;
    background-color: #cccccc;
}

.button:active {
    background-color:#FFFFFF;
}

.heading {
    background-color: #fff;
    color:#444;
    border-bottom:1px solid #999;
    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0);
}

.warning {
    background-color: #F2DEDE;
    color:#B94A48;
    border:1px solid #EED3D7;
}

#defaultView {
    background-image:url('graphics/wheat_bg_nocolor.png');
    background-position: bottom center;
    background-repeat:no-repeat;
}

#loadingView {
    background-image:url('graphics/wheat_bg_nocolor.png');
    background-position: bottom center;
    background-repeat:no-repeat;
}

@media only screen and (min-width:760px) {
    #defaultView {
        background-image:url('graphics/wheat_bg.png');
    }
}


#videosView #videosHeader {
    display:block;
    padding-left:60px;
    min-height: 45px;
}

#videosView #refreshButton {
    position:absolute;
    top:20px;
    left:20px;
    width:48px;
    display:block;
    padding-left:0px;
    min-height: 48px;
    background-image:url('graphics/refresh.png');
    background-position: left top;
    background-repeat:no-repeat;
}

#videosView h2{
    -webkit-margin-after: 0em;
    padding:0em;
}

#defaultView h2 {
    display:block;
    padding:0em;
    text-align:center;
}
#videosView div,
#defaultView div {
    display:block;
    padding:1em;
    padding-top:0em;
}
#videosView #addVideoButton{
    font-size: 1em;
    padding-left:38px;
    background-image:url('graphics/add_small.png');
    background-position: 3px center;
    background-repeat:no-repeat;
}

#videosView input[type='text']{
    width: 100%;
    font-size: 1em;

}

#videosView a,
#defaultView a {
    height:100%;
    display:block;
    border:1px solid #999;
    padding:1.25em;
    text-decoration: none;
    color:#444;
    font-size:1em;
    background:rgba(230,230,230,0.85);
}
#quizesView #addQuizButton {
    height:100%;
    display:block;
    border:1px solid #999;
    padding:1.25em;
    text-decoration: none;
    font-size:1.1em;
    padding-left: 68px;
    background-image:url('graphics/add.png');
    background-position: 10px center;
    background-repeat:no-repeat;
}

#addQuestionButton {
    height: 52px;
    text-decoration: none;
    width: 50px;
    right: 37px;
    position: absolute;
    background-image: url('graphics/add.png');
    background-position: center center;
    background-repeat: no-repeat;
}

#addNewVideo {
    height:100%;
    display:block;
    border:1px solid #999;
    padding:1.25em;
    text-decoration: none;
    color:#444;
    font-size:1em;
    background:rgba(230,230,230,0.85);
}
div.quiz {
    height:100%;
    display:block;
    border:1px solid #999;
    padding:0.25em;
    text-decoration: none;
    color:#444;
    font-size:1em;
    background:rgba(200,200,200,0.85);
}
div.question {
    height:100%;
    display:block;
    border:1px solid #999;
    padding:0.75em;
    margin-top:0.25em;
    text-decoration: none;
    color:#444;
    font-size:1em;
    background:rgba(235,235,235,0.85);
}


}
#quizesView b,
#videosView b,
#defaultView b {
    height:100%;
    display:block;
    border:1px solid #999;
    padding:1.25em;
    text-decoration: none;
    color:#444;
    font-size:1em;
    background:rgba(200,200,200,0.85);
}

#quizesView a:active,
#videosView a:active,
#defaultView a:active {
    background-color:#FFFFFF;
}

#quizTitle{
    text-align: center;
    font-size: 1.3em;
    width: 100%;
    background:rgba(0,0,0,0);
    border: hidden;
}

.questionText{
    width: 100%;
    background:rgba(0,0,0,0);
    border: hidden;
    font-size: 1.1em;
}

#quizDescription{
    width: 100%;
    background:rgba(0,0,0,0);
    border: hidden;
    font-size: 0.9em;
}
#quizDescriptionBlock{
    height:100%;
    display:block;
    padding:0.25em;
    text-decoration: none;
    color:#444;
    font-size:1.1em;
    background:rgba(0,0,0,0);
}
#defaultView #quiz {
    padding-left:75px;
    background-image:url('graphics/takeQuiz.png');
    background-position: 5px center;
    background-repeat:no-repeat;
}

#defaultView #video {
    padding-left:75px;
    background-image:url('graphics/watchVideo.png');
    background-position: 10px center;
    background-repeat:no-repeat;
}

#videosView .videoItem {
    padding-left:75px;
    background-image:url('graphics/video.png');
    background-position: 10px center;
    background-repeat:no-repeat;
}

#videosView {
    padding:1em;
    padding-top:0em;
	
    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

#createQuizView {
    padding:1.25em;
}

#quizesView {
    padding:1.25em;
}

.leaflet-popup-content {
    font-size:1em;
    margin:05.em;
    text-align:center;
}

.leaflet-popup-content a {
    background:none;
    border:none;
    text-align:center;
}


.paragraph {
    margin:0px;
    margin-bottom:1em;
    border-top:1px solid #CCC;
    padding-top:1em;
}

.paragraph_noborder {
    margin:0px;
    margin-bottom:1em;
    border: none;
    padding-top:1em;
}

.amenities {
    min-height:30px;
    font-size: 1.25em;
    padding-top:0.25em;
    padding-left:62px;
    background-repeat:no-repeat;
}

#Choice {
    font-size:1.25em;
    width:100%;
}

#submitButton {
    padding-left:2em;
    padding-right:2em;
}

input[type='checkbox'] { 
    width:2em;
    height:2em;
}

label {
    font-size: .8em;
    padding:.25em;
}

.checkboxChoice .amenities {
    font-size: 1em;
}
